.our-services-colum {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem;
    
}
.title {
    line-height: 2rem;
}
.imagegg{
    font-family: "fontello";
    font-size: 15rem;
}
.colum-two {
    flex-basis: 45%;   
}  
.colum-one {
    flex-basis: 45%;
}
.image i {
    font-size: 60px;
    margin-right: 2rem;
    color: #709dca;
}
.image i:hover {
    color: rgba(158, 33, 33, 0.418);
}
.section-bg-yellow {
    background-color: #ffc155;
    background-image: url(../img/about-us-photo.jpg);
    background-repeat: no-repeat;
    background-size: 50% auto;
    }
.title-about-us {
    background-color: #ffc155;
    width: 50%;
    margin-left: 50%;
    text-align: left;
    padding: 5% 5% 3% 5%;  
}
.title-about-us a{
    color:#FFF;
    border: 1px solid #858282;
    text-transform: uppercase;
    padding: 1rem 2rem;  
}
.title-about-us a:hover {
    color: #709dca;
    border: 1px solid  #709dca;
}
.article-title {
    margin-bottom: 2rem;
}
.article-text {
    margin-bottom: 2rem;
}
.button a:hover {
    color: #709dca;
    border: 1px solid  #709dca;
}
.section-bg-seriu {
    display: flex;
    flex-direction: column;
    background-color: #e7edf3;
    padding: 10rem 0;
}
.article-white{
    margin: 0 auto;
    text-align: center;
}
.choos {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.article-white {
    font-family: "Gotham";
}
.article-content {
    color: #FFF;
    font-size: 1.8rem;
    padding-bottom: 5rem;
}
.blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block {
    width: 30%;
    height: 40rem;
    background:white;
    font-family: "Lato";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b5bbc1;
    text-transform: uppercase;
    border: 0.5px solid #a09e9e; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  
}
.block:hover {
    height: 43rem;
    background-color: #709dca;
    color: #FFF;
}
.block a:hover{
    color: #709dca;
    border: 1px solid  #709dca;
}
.block-name-choos {
    font-size: 2.5rem;
}
.block span{
    padding: 2% 1%;
}
.blocks span.bord {
    display: block;
    width: 90%;
    text-align: center;
    border-top: 1px solid #e7edf3;
} 
.block p{
    color: #ffbb42;
    font-size: 6rem;
}
.block sup{
    font-size: 4rem;
}
.block a{
    margin: 1% 2%;
    padding: 2% 3%;
    background-color:#ffbb42;
    border-radius: 3%;
    color:white;
}
.cont-how {
    display: flex;
}
.colum-how {
    display: flex;
}
.arr-one {
    text-align: center;
}
.item-how {
    width: 50%;
    padding: 1% 5%;
    text-align: center;
}
.fa {
    font-size: 5rem;
    padding-bottom: 5rem;
}
.fa:hover {
    color: #709dca;
}
.blocktest1 p {
    font-family:"OpenSans";
    font-size: 1.3rem; 
}
.how-arroy {
    width: 100%;
}
.item-how img {
    padding-bottom: 30%;
}
.title h1 {
    padding-bottom: 2rem;
}
.button {
    width: 100%;
    text-align: center;
    margin: 5rem 0;
}
.button a {
    text-transform: uppercase;
    padding: 1rem 3rem;
    background-color:#ffbb42;
    border-radius: 3%;
    color:white;
}
.section-bg-happy {
    background-color: #ffc155;
}
.happy-block-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.happy-block {
    display: flex;
    width: 47%;
    background-color: white;
    margin: 1rem 1rem;
    padding: 2rem 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.happy-blocks img {
    margin-right: 2rem;
    border-radius: 50%;
}
.happy-blocks img:hover {
    box-shadow: 0 0 80px #ffc155;
}
.happy-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.happy-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    line-height: 2rem;
}
.happy-content {
    font-size: 1.3rem;
    font-weight: lighter;
    padding-bottom: 3rem;
}
.happy-name {
    color: #f6772c;
    font-size: 1.4rem;
}
.happy-name span {
    color: #99a9ae;
}