html
  body
    .section.section-bg-white
      .container
        .NEWSLETTER-block.article-body.article-white
          h2.article-title
            | NEWSLETTER
          p.NEWSLETTER-content.article-content
            | Lorem ipsum dolor sit amet Business industry
          form.article-info_footer
            input.full-name(type='text', placeholder='Full Name')
            input(type='text', name='email-address', placeholder='Email Address')
            input(type='submit', value='SUBSCRIBE NOW')
        .NEWSLETTER-big-block-cirkle
          .ul.NEWSLETTER-ul
            li.NEWSLETTER-li.NEWSLETTER-Address
              a(href='#') Address
            li.NEWSLETTER-li.NEWSLETTER-Business-street
              a(href='#') Business street
            li.NEWSLETTER-li.NEWSLETTER-Second-north-section
              a(href='#') Second north section
            li.NEWSLETTER-li.NEWSLETTER-Bavani-nagar-88769
              a(href='#') Bavani nagar. 88769
            li.NEWSLETTER-li.NEWSLETTER-Cal
              a(href='#') Call : +987-9976-999
            li.NEWSLETTER-li.NEWSLETTER-info
              a(href='#')  info@businessface.com
      .NEWSLETTER-menu
        ul.NEWSLETTER-ul-bottom
          li.NEWSLETTER-li
            a(href='#') Home 
          li.NEWSLETTER-li
            a(href='#') Service
          li.NEWSLETTER-li
            a(href='#') About us
          li.NEWSLETTER-li
            a(href='#') Pricing Table 
          li.NEWSLETTER-li
            a(href='#') How it work
          li.NEWSLETTER-li
            a(href='#') Happy Clients
          li.NEWSLETTER-li
            a(href='#') Contact Us
      .NEWSLETTER-group
        .mobile
          i.fa.fa-mobile-phone
          |  +987 9976 999
        .icon
          i.fa.fa-vk
          i.fa.fa-facebook
          i.fa.fa-google-plus
          i.fa.fa-commenting
    .footer
      p
        | All contents © copyright 2018 Business Theme. All rights reserved Designed by : Dmitry Suhotsky
<script src="js/menu.js"></script>