.section.section-bg-white
  .container
    .article-body.article-white
      h2.article-title
        | our services
      p.article-content
        | Lorem ipsum dolor sit amet Business industry
    .our-services-colum
      .colum-one
        .item.item-1
          .image
            i.fa.fa-clock-o
          .title
            h1 Font-Awesome Icons 
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting ind  ustry. Lorem Ipsum has been the industry's standard dummy text ever
              | since the 1500s, when an unknown printer.
        .item.item-2
          .image
            i.fa.fa-heart-o
          .title
            h1 Font-Awesome Icons 
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting ind
              | ustry. Lorem Ipsum has been the industry's standard dummy text ever
              | since the 1500s, when an unknown printer.
        .item.item-3
          .image
            i.fa.fa-life-buoy
          .title
            h1 Font-Awesome Icons 
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting ind
              | ustry. Lorem Ipsum has been the industry's standard dummy text ever
              | since the 1500s, when an unknown printer.
      .colum-two
        .item.item-4
          .image
            i.fa.fa-stop-circle-o
          .title
            h1 Font-Awesome Icons 
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting ind
              | ustry. Lorem Ipsum has been the industry's standard dummy text ever
              | since the 1500s, when an unknown printer.
        .item.item-5
          .image
            i.fa.fa-user-circle-o
          .title
            h1 Font-Awesome Icons 
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting ind
              | ustry. Lorem Ipsum has been the industry's standard dummy text ever
              | since the 1500s, when an unknown printer.
        .item.item-6
          .image
            i.fa.fa-dollar
          .title
            h1 Font-Awesome Icons 
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting ind
              | ustry. Lorem Ipsum has been the industry's standard dummy text ever
              | since the 1500s, when an unknown printer.
.section-bg-yellow
  .container
    .title-about-us.article-body
      h2.article-title About us 
      p.article-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting ind  dummy text of the printing and typesetting ind  ustry. Lorem Ipsum has been the industry's standard dummy text ever
        | Lorem Ipsum is simply dummy text of the printing and typesetting ind  dummy text of the printing and typesetting ind  ustry. Lorem Ipsum has been the industry's standard dummy text ever
        | since the 1500s, when an unknown printer.
      p
        a(href='#') Read More
div(style='clear: both')
.section-bg-seriu
  .container.choos
    .article-white
      h2.article-title
        | Choos your price
      p.article-content
        | Lorem Ipsum is simply dummy text of the printing typesetting
    .blocks
      .block.block-one
        span.block-name-choos Premium plan
        p
          sup $
          | 42
        span.time per month
        span.bord.account Account
        span.bord.time-support 100 mb storage
        span.bord.custom-services costom cloud services
        a(href='#') get started
      .block.block-two
        span.block-name-choos Premium plan
        p
          sup $
          | 42
        span.time per month
        span.bord.account Account
        span.bord.time-support 100 mb storage
        span.bord.custom-services costom cloud services
        a(href='#') get started
      .block.block-three
        span.block-name-choos Premium plan
        p
          sup $
          | 42
        span.time per month
        span.bord.account Account
        span.bord.time-support 100 mb storage
        span.bord.custom-services costom cloud services
        a(href='#') get started
.section.section-bg-white
  .container
    .article-body.article-white
      h2.article-title
        | how it works
      p.article-content
        | Lorem ipsum dolor sit amet Business industry
    .cont-how
      .blocktest1
        .arr-one
          img(src='img/arroy.png', alt='arroy')
        .colum-how
          .item-how
            .image.fa.fa-bullhorn
            .title
              h1 STEP 1 
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting ind  ustry. Lorem Ipsum has been the industry's standard dummy text ever
                | since the 1500s, when an unknown printer.
          .item-how
            .image.fa.fa-bus
            .title
              h1 STEP 2 
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting ind  ustry. Lorem Ipsum has been the industry's standard dummy text ever
                | since the 1500s, when an unknown printer.
      .blocktest1
        .arr-one
          img(src='img/arroy.png', alt='arroy')
        .colum-how
          .item-how
            .image.fa.fa-envelope-o
            .title
              h1 STEP 3 
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting ind  ustry. Lorem Ipsum has been the industry's standard dummy text ever
                | since the 1500s, when an unknown printer.
          .item-how
            .image.fa.fa-gear
            .title
              h1 STEP 4 
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting ind  ustry. Lorem Ipsum has been the industry's standard dummy text ever
                | since the 1500s, when an unknown printer.
  .button
    a.btn(href='#') get started
.section-bg-happy
  .container
    .article-body
      h2.article-title
        | happy clients
      p.happy-content
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros,
    .happy-blocks
      .happy-block-1
        .happy-block
          .happy-img
            img(src='img/happy-photo.png')
          .happy-title
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing
            | elit. Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing
            | elit. Proin ornare magna eros,
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p.happy-name
              | Darwin michele 
              span project manager
        .happy-block
          .happy-img
            img(src='img/happy-photo.png')
          .happy-title
            | 2222Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing
            | elit. Proin ornare magna eros,
            p.happy-name
              | Darwin michele 
              span project manager
        .happy-block
          .happy-img
            img(src='img/happy-photo.png')
          .happy-title
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing
            | elit. Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing
            | elit. Proin ornare magna eros,
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p.happy-name
              | Darwin michele 
              span project manager
        .happy-block
          .happy-img
            img(src='img/happy-photo.png')
          .happy-title
            | 2222Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Proin ornare magna eros,Lorem ipsum dolor sit amet, consectetur adipiscing
            | elit. Proin ornare magna eros,
            p.happy-name
              | Darwin michele 
              span project manager
